@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);
body {
  background: linear-gradient(-45deg, #110343, #13023a, #0b3a4b, #040c0a);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.gif-alistar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: whitesmoke;
  /* animation: gradientNav 2s ease infinite; */
}

a {
  color: yellow;
}

.nav-link:hover {
  text-decoration: underline overline;
  text-underline-position: under;
  text-underline-offset: 5px;
  color: #f7dc54 !important;
  animation: navbar 0.5s ease;
}

@keyframes navbar {
  0% {
    text-underline-offset: 8px;
  }
  50% {
    text-underline-offset: 1px;
  }
  100% {
    text-underline-offset: 5px;
  }
}
.spinnerLoader {
  height: 300px;
  width: 100%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* From https://css.glass */
.card {
  background: rgba(255, 255, 255, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: whitesmoke;
}

.stars {
  position: fixed;
  top: 10%;
  left: 0;
  width: 50%;
  height: 90%;
  transform: rotate(-45deg);
}

.star {
  --star-color: rgb(255, 232, 249) !important;
  --star-tail-length: 6em;
  --star-tail-height: 1px;
  --star-width: calc(var(--star-tail-length) / 9);
  --fall-duration: 10s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.04em;
  --top-offset: 23.8vh;
  --fall-duration: 9.795s;
  --fall-delay: 7.357s;
}
.star:nth-child(2) {
  --star-tail-length: 6.46em;
  --top-offset: 37.11vh;
  --fall-duration: 8.184s;
  --fall-delay: 9.841s;
}
.star:nth-child(3) {
  --star-tail-length: 5.43em;
  --top-offset: 91.55vh;
  --fall-duration: 11.679s;
  --fall-delay: 9.67s;
}
.star:nth-child(4) {
  --star-tail-length: 6.94em;
  --top-offset: 40.24vh;
  --fall-duration: 6.777s;
  --fall-delay: 0.793s;
}
.star:nth-child(5) {
  --star-tail-length: 6.1em;
  --top-offset: 6.83vh;
  --fall-duration: 10.885s;
  --fall-delay: 3.592s;
}
.star:nth-child(6) {
  --star-tail-length: 7.09em;
  --top-offset: 67.12vh;
  --fall-duration: 6.118s;
  --fall-delay: 7.909s;
}
.star:nth-child(7) {
  --star-tail-length: 5.84em;
  --top-offset: 31.89vh;
  --fall-duration: 6.586s;
  --fall-delay: 8.18s;
}
.star:nth-child(8) {
  --star-tail-length: 7.16em;
  --top-offset: 76.55vh;
  --fall-duration: 7.063s;
  --fall-delay: 6.233s;
}
.star:nth-child(9) {
  --star-tail-length: 6.21em;
  --top-offset: 85.24vh;
  --fall-duration: 6.146s;
  --fall-delay: 4.835s;
}
.star:nth-child(10) {
  --star-tail-length: 6.73em;
  --top-offset: 72.79vh;
  --fall-duration: 6.743s;
  --fall-delay: 9.36s;
}
.star:nth-child(11) {
  --star-tail-length: 6.31em;
  --top-offset: 88.74vh;
  --fall-duration: 9.003s;
  --fall-delay: 9.289s;
}
.star:nth-child(12) {
  --star-tail-length: 7.25em;
  --top-offset: 56.89vh;
  --fall-duration: 6.189s;
  --fall-delay: 5.675s;
}
.star:nth-child(13) {
  --star-tail-length: 5.7em;
  --top-offset: 9.52vh;
  --fall-duration: 11.941s;
  --fall-delay: 3.455s;
}
.star:nth-child(14) {
  --star-tail-length: 6.36em;
  --top-offset: 82.43vh;
  --fall-duration: 7.149s;
  --fall-delay: 9.389s;
}
.star:nth-child(15) {
  --star-tail-length: 5.32em;
  --top-offset: 46.53vh;
  --fall-duration: 11.097s;
  --fall-delay: 8.344s;
}
.star:nth-child(16) {
  --star-tail-length: 6.7em;
  --top-offset: 97.8vh;
  --fall-duration: 11.3s;
  --fall-delay: 8.41s;
}
.star:nth-child(17) {
  --star-tail-length: 6.27em;
  --top-offset: 89.25vh;
  --fall-duration: 10.858s;
  --fall-delay: 1.084s;
}
.star:nth-child(18) {
  --star-tail-length: 6.64em;
  --top-offset: 15.56vh;
  --fall-duration: 6.483s;
  --fall-delay: 9.867s;
}
.star:nth-child(19) {
  --star-tail-length: 5.13em;
  --top-offset: 44.31vh;
  --fall-duration: 8.547s;
  --fall-delay: 9.738s;
}
.star:nth-child(20) {
  --star-tail-length: 5.97em;
  --top-offset: 64.82vh;
  --fall-duration: 10.341s;
  --fall-delay: 6.461s;
}
.star:nth-child(21) {
  --star-tail-length: 5.79em;
  --top-offset: 55.88vh;
  --fall-duration: 6.869s;
  --fall-delay: 0.117s;
}
.star:nth-child(22) {
  --star-tail-length: 5.22em;
  --top-offset: 88.89vh;
  --fall-duration: 6.522s;
  --fall-delay: 6.203s;
}
.star:nth-child(23) {
  --star-tail-length: 5.37em;
  --top-offset: 96.24vh;
  --fall-duration: 8.638s;
  --fall-delay: 1.228s;
}
.star:nth-child(24) {
  --star-tail-length: 7.35em;
  --top-offset: 67.34vh;
  --fall-duration: 10.192s;
  --fall-delay: 3.773s;
}
.star:nth-child(25) {
  --star-tail-length: 5.03em;
  --top-offset: 54.55vh;
  --fall-duration: 9.162s;
  --fall-delay: 5.74s;
}
.star:nth-child(26) {
  --star-tail-length: 7.13em;
  --top-offset: 85.34vh;
  --fall-duration: 6.535s;
  --fall-delay: 4.816s;
}
.star:nth-child(27) {
  --star-tail-length: 7.2em;
  --top-offset: 61.01vh;
  --fall-duration: 9.705s;
  --fall-delay: 7.002s;
}
.star:nth-child(28) {
  --star-tail-length: 5.04em;
  --top-offset: 27.79vh;
  --fall-duration: 7.942s;
  --fall-delay: 8.822s;
}
.star:nth-child(29) {
  --star-tail-length: 7.12em;
  --top-offset: 27.84vh;
  --fall-duration: 10.053s;
  --fall-delay: 7.942s;
}
.star:nth-child(30) {
  --star-tail-length: 6.79em;
  --top-offset: 98.12vh;
  --fall-duration: 11.512s;
  --fall-delay: 7.444s;
}
.star:nth-child(31) {
  --star-tail-length: 7.32em;
  --top-offset: 81.19vh;
  --fall-duration: 7.546s;
  --fall-delay: 4.102s;
}
.star:nth-child(32) {
  --star-tail-length: 5.54em;
  --top-offset: 82.36vh;
  --fall-duration: 8.788s;
  --fall-delay: 1.536s;
}
.star:nth-child(33) {
  --star-tail-length: 6.67em;
  --top-offset: 5.11vh;
  --fall-duration: 10.22s;
  --fall-delay: 1.502s;
}
.star:nth-child(34) {
  --star-tail-length: 5.35em;
  --top-offset: 53.53vh;
  --fall-duration: 10.657s;
  --fall-delay: 2.421s;
}
.star:nth-child(35) {
  --star-tail-length: 6.54em;
  --top-offset: 71.34vh;
  --fall-duration: 9.051s;
  --fall-delay: 3.271s;
}
.star:nth-child(36) {
  --star-tail-length: 7.03em;
  --top-offset: 17.29vh;
  --fall-duration: 8.593s;
  --fall-delay: 9.244s;
}
.star:nth-child(37) {
  --star-tail-length: 5.49em;
  --top-offset: 0.14vh;
  --fall-duration: 9.881s;
  --fall-delay: 7.827s;
}
.star:nth-child(38) {
  --star-tail-length: 7.28em;
  --top-offset: 42.86vh;
  --fall-duration: 8.504s;
  --fall-delay: 8.827s;
}
.star:nth-child(39) {
  --star-tail-length: 6.79em;
  --top-offset: 73.1vh;
  --fall-duration: 11.23s;
  --fall-delay: 2.124s;
}
.star:nth-child(40) {
  --star-tail-length: 6.81em;
  --top-offset: 30.58vh;
  --fall-duration: 8.666s;
  --fall-delay: 4.232s;
}
.star:nth-child(41) {
  --star-tail-length: 6.28em;
  --top-offset: 76.44vh;
  --fall-duration: 6.899s;
  --fall-delay: 1.994s;
}
.star:nth-child(42) {
  --star-tail-length: 6.22em;
  --top-offset: 13.04vh;
  --fall-duration: 6.722s;
  --fall-delay: 9.086s;
}
.star:nth-child(43) {
  --star-tail-length: 5.58em;
  --top-offset: 17.52vh;
  --fall-duration: 11.993s;
  --fall-delay: 8.345s;
}
.star:nth-child(44) {
  --star-tail-length: 6.53em;
  --top-offset: 39.2vh;
  --fall-duration: 6.209s;
  --fall-delay: 6.343s;
}
.star:nth-child(45) {
  --star-tail-length: 5.08em;
  --top-offset: 42.12vh;
  --fall-duration: 11.918s;
  --fall-delay: 2.058s;
}
.star:nth-child(46) {
  --star-tail-length: 5.36em;
  --top-offset: 92.8vh;
  --fall-duration: 8.904s;
  --fall-delay: 7.283s;
}
.star:nth-child(47) {
  --star-tail-length: 5.15em;
  --top-offset: 18.58vh;
  --fall-duration: 8.526s;
  --fall-delay: 9.502s;
}
.star:nth-child(48) {
  --star-tail-length: 6.55em;
  --top-offset: 51.55vh;
  --fall-duration: 10.477s;
  --fall-delay: 2.439s;
}
.star:nth-child(49) {
  --star-tail-length: 5em;
  --top-offset: 32.32vh;
  --fall-duration: 8.585s;
  --fall-delay: 3.104s;
}
.star:nth-child(50) {
  --star-tail-length: 5.5em;
  --top-offset: 40.03vh;
  --fall-duration: 9.233s;
  --fall-delay: 5.957s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
.containerText {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.anim-text-flow,
.anim-text-flow-hover:hover {
  /* Animation variables*/
  /* Elements settings*/
  /* Keyframe loop*/
  /** Element animation delay loop*/
}
.anim-text-flow span,
.anim-text-flow-hover:hover span {
  animation-name: anim-text-flow-keys;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
@keyframes anim-text-flow-keys {
  0% {
    color: hsl(334, 60%, 60%);
  }
  10% {
    color: hsl(314, 60%, 60%);
  }
  20% {
    color: hsl(12, 60%, 60%);
  }
  30% {
    color: hsl(281, 60%, 60%);
  }
  40% {
    color: hsl(336, 60%, 60%);
  }
  50% {
    color: hsl(158, 60%, 60%);
  }
  60% {
    color: hsl(58, 60%, 60%);
  }
  70% {
    color: hsl(179, 60%, 60%);
  }
  80% {
    color: hsl(35, 60%, 60%);
  }
  90% {
    color: hsl(238, 60%, 60%);
  }
  100% {
    color: hsl(201, 60%, 60%);
  }
}
.anim-text-flow span:nth-of-type(1),
.anim-text-flow-hover:hover span:nth-of-type(1) {
  animation-delay: -1.8s;
}
.anim-text-flow span:nth-of-type(2),
.anim-text-flow-hover:hover span:nth-of-type(2) {
  animation-delay: -1.6s;
}
.anim-text-flow span:nth-of-type(3),
.anim-text-flow-hover:hover span:nth-of-type(3) {
  animation-delay: -1.4s;
}
.anim-text-flow span:nth-of-type(4),
.anim-text-flow-hover:hover span:nth-of-type(4) {
  animation-delay: -1.2s;
}
.anim-text-flow span:nth-of-type(5),
.anim-text-flow-hover:hover span:nth-of-type(5) {
  animation-delay: -1s;
}
.anim-text-flow span:nth-of-type(6),
.anim-text-flow-hover:hover span:nth-of-type(6) {
  animation-delay: -0.8s;
}
.anim-text-flow span:nth-of-type(7),
.anim-text-flow-hover:hover span:nth-of-type(7) {
  animation-delay: -0.6s;
}
.anim-text-flow span:nth-of-type(8),
.anim-text-flow-hover:hover span:nth-of-type(8) {
  animation-delay: -0.4s;
}
.anim-text-flow span:nth-of-type(9),
.anim-text-flow-hover:hover span:nth-of-type(9) {
  animation-delay: -0.2s;
}
.anim-text-flow span:nth-of-type(10),
.anim-text-flow-hover:hover span:nth-of-type(10) {
  animation-delay: 0s;
}

.txt {
  display: block;
  font-size: 10vw;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  line-height: 2;
  text-rendering: optimizeLegibility;
  text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .txt {
    font-size: 12vw;
  }
  @keyframes gradient {
    0% {
      background-position: center;
    }
    100% {
      background-position: center;
    }
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .txt {
    font-size: 8vw;
  }
}
@media only screen and (min-width: 1224px) {
  .txt {
    font-size: 8vw;
  }
}
#bgContact {
  background-image: url(/img/fxVE.gif);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}/*# sourceMappingURL=style.css.map */