body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "Exo", sans-serif;
    color: #fff;
    background: linear-gradient(-45deg, #05051b, #020211, #050525, #040118);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#btn_generator,
#btn_initiale {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .9), rgba(102, 68, 0, .9));
    color: rgb(255, 201, 93);
    font-weight: 500;
    letter-spacing: .07em;
    text-transform: uppercase;
    background-color: transparent;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    text-decoration: none;
    transition: transform .2s;
    border: solid;
    line-height: 1;
    border-color: rgb(253, 170, 4);
    border-radius: 0.4rem;
}

#btn_generator:hover,
#btn_initiale:hover {
    transform: scale(1.05);
    color: rgb(255, 209, 118);
    border-color: rgb(253, 193, 73);
    background-image: linear-gradient(180deg, rgba(41, 28, 1, 0.9), rgba(186, 126, 7, 0.9));
}

#btn_convertisseur,
#btn_continue {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .9), rgba(0, 51, 102, .9));
    color: #187cff;
    font-weight: 500;
    letter-spacing: .07em;
    text-transform: uppercase;
    box-shadow: 0 2px 8px rgb(0 0 0 / 60%), 0 8px 32px rgb(0 0 0 / 40%);
    background-color: transparent;
    background-origin: border-box;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    text-decoration: none;
    transition: color .2s, filter .2s, opacity .2s, transform .2s;
    border: solid;
    border-color: #0061df;
    border-radius: 0.4rem;
    line-height: 1;
}

#btn_convertisseur:hover,
#btn_continue:hover {
    transform: scale(1.05);
    color: rgb(98, 177, 255);
    border-color: #3c91ff;
    background-image: linear-gradient(180deg, rgba(41, 28, 1, 0.9), rgba(0, 87, 174, 0.9));
}

.card_initial {
    /* background-xcolor : #3c91ff; */
    position: static;
    background-image: url('/mon_cv/img/terran_logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 0px;
    border-color: rgb(2, 76, 173);
}

.card {
    position: static;
    transition: transform 800ms;
    transform-style: preserve-3d;
}

.card_container {
    height: 320px;
}

.card_container:hover>.card {
    cursor: pointer;
    transform: rotateY(180deg);


}

.front1,
.back1 {
    position: absolute;
    backface-visibility: hidden;
}


.front1 {
    height: 320px;
    width: 18rem;
    background-image: url('/mon_cv/img/nexus.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(2, 76, 173);
}

.back1 {
    height: 320px;
    width: 18rem;
    transform: rotateY(180deg);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(2, 76, 173);
}


.front2,
.back2 {
    position: absolute;
    backface-visibility: hidden;
}


.front2 {
    height: 320px;
    width: 18rem;
    background-image: url('/mon_cv/img/command_center.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(2, 76, 173);
}

.back2 {
    height: 320px;
    width: 18rem;
    transform: rotateY(180deg);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(2, 76, 173);
}


.card_initial_content {
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(0, 11, 22, 0.808);
}


.video_height {
    height: 20%;
    width: 100vw;
}

.titreVideo {
    height: 80vh;
}

h2 {
    font-family: 'Michroma', sans-serif;
    text-shadow: 0 0 4px #0f0f0f, 0 0 5px #0f0f0f, 0 0 10px #0f0f0f, 0 0 20px #050f1d, 0 0 30px #0055c3, 0 0 40px #186dff, 0 0 50px #00399a;
    color: rgb(210, 210, 210);
}


#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    padding: 0px 0px;
}

.formation {
    height: 100vh;
    /* margin-top: -27px; */
    font-family: 'Michroma', sans-serif;
    color: whitesmoke;
    z-index: 20;
    object-fit: fill;
}


@media only screen and (min-device-width : 100px) and (max-device-width : 990px) {
    .navbar {
        background: none;
        color: rgb(255, 240, 252);
        z-index: 10 !important;
    }

    .formation {
        height: 120vh;
        object-fit: fill;
    }
}


.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28204, 230, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Set the border color to the desired color */
.custom-toggler.navbar-toggler {
    border-color: rgb(20, 149, 229);
}

.navbar ul {
    font-family: 'Orbitron', sans-serif;
    border: solid #0983b7da !important;
    border-width: 2px !important;
    background: rgb(26, 48, 84);
    background: linear-gradient(180deg, rgba(2, 17, 42, 0.861) 13%, rgba(8, 21, 80, 0.846) 76%);
    margin-bottom: -20px;
    padding: 10px 20px;
}

.navbar-toggler {
    color: #ccffd5fd !important;
}

.nav-link {
    color: #CCE6FF !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: -15px !important;
    margin-top: -10px !important;
    margin-bottom: -8px !important;
}

.nav-link:hover {
    background-image: linear-gradient(180deg, rgba(1, 34, 70, 0.9), rgba(0, 87, 174, 0.9));
    margin-bottom: -14px !important;
    padding-top: -19px !important;
    text-shadow: rgba(0, 187, 255, 1) 50px 100px 390px !important;
    border-bottom: solid #CCE6FF !important;
    border-width: 2px !important;
}

#experiencesProfessionnelles {
    background: url("/mon_cv/img/starcraft-2-ia.avif") no-repeat;
    background-size: cover;
    -webkit-mask: linear-gradient(to bottom, transparent, #000 25%);
    mask: linear-gradient(to bottom, transparent, #000 255%);
}


.experiencesProfessionnelles .card {
    border-color: #1d7fff;
    filter: brightness(60%);
    -webkit-filter: brightness(60%);
}


.experiencesProfessionnelles .card:hover {
    border-color: #3889f4;
    border-width: 3px;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}


.experiencesProfessionnelles .card .inconXp {
    height: 80px;
    filter: brightness(150%);
    -webkit-filter: brightness(150%);
}

.card:hover {
    transform: scale(1.02);
    transition-duration: 0.3s;
}


.card-blur {
    -webkit-box-shadow: inset 15px 15px 15px 50px rgba(63, 178, 249, 0.445);
    box-shadow: inset 15px 15px 15px 50px rgba(63, 178, 249, 0.445);
    -moz-box-shadow: inset 15px 15px 15px 50px rgba(63, 178, 249, 0.445);
    z-index: 5000;
    filter: drop-shadow(0 0 0.75rem pink);
    box-shadow: #0061df;
    text-shadow: greenyellow;
}

.card img {
    z-index: -1000;
}


.imgFront {
    display: flex;
    flex-wrap: wrap;
}

.imgFront img {
    height: 5em;
    /* transform: rotateX(90deg); */
    /* animation: skewImg 3s infinite; */
}

/* @keyframes skewImg {
    100% {
        transform: rotateX(0deg);
    } */

    /* 50% {
        transform: rotateX(180deg);
    } */
    /* from {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
      } 
}*/


